:host {
  margin: 20px;
}

.mat-raised-button {
  margin-left: 10px;
}

:host /deep/ .cusDropZone {
  height: 200px;
  border: 2px dashed grey;
  border-radius: 10px;
}

:host /deep/ .cusDropContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: grey;
}

.mat-success {
  color: #00d000;
}

.empty-list {
  color: grey;
  font-size: 10px;
}

.mat-dialog-actions {
  margin: 10px;
  justify-content: flex-end;
}
